@import "tailwindcss";

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-left {
  display: flex;
  width: max-content;
  animation: marquee-left 50s linear infinite;
  will-change: transform;
}

.animate-marquee-left:hover {
  animation-play-state: paused;
}
